@page "/fakedata"
@attribute [Authorize]
@inject AuthenticationStateProvider authProvider
@inject IRepository<KwikLogDTO> _logRepository

<h3>FakeData</h3>
<br>
<br>
<EditForm Model="action" OnValidSubmit="HandleAdHocCommand">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-8">
            <label for="entry-text">Entry</label>
            <InputText style="width:90%" id="entry-text" @bind-Value="action.Action" />
        </div>
        <div class="col-4">
            <button style="width:80%" type="submit">Add</button>
        </div>
    </div>
</EditForm>
<br>
<br>
<hr>
<div class="container">
    @if (_actionLog is not null)
    {
        <div>Total Entries = @_actionLog.Count</div>
        <Virtualize Items="@_actionLog" Context="e" OverscanCount="10">
            <div class="kwik-entry row">
                <div class="col-2 kwik-entry-entry">@e.Result</div>
                <div class="col-2 kwik-entry-timestamp">@e.ResultTime.ToString("yyyy-MMM-dd HH:mm:ss")</div>
                <div class="col-2 kwik-entry-timestamp">@e.Cmd</div>
                <div class="col-3 kwik-entry-entry">@e.Args</div>
                <div class="col-3 kwik-entry-entry">@e.Oid</div>
            </div>
        </Virtualize>
    }
</div>
