@page "/"
@attribute [Authorize]
@inject AuthenticationStateProvider authProvider
@inject NavigationManager navManager
@inject IRepository<KwikLogDTO> _logRepository

<PageTitle>kwik</PageTitle>

<div class="row px-2">
    <div class="col-4 navbar-nav">
        <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">
            <h3>kwklg</h3>
        </NavLink>
    </div>
    <div class="col-8">
        <LoginDisplay />
    </div>
</div>

<div class="row">
    <div class="col-8">
        <label for="entry-text">Entry</label>
        <InputText style="width:90%" id="entry-text" @bind-Value="_entry" />
    </div>
    <div class="col-4">
        <button style="width:80%" @onclick="AddEntry">Add</button>
    </div>
</div>

<div class="container">
    @if (entries is not null)
    {
        <div>Total Entries = @entries.Count</div>
        <div class="list-group">
            <Virtualize Items="@entries" Context="e" OverscanCount="10">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"></h5>
                    <small class="text-muted">@CalcDeltaDays(e) days ago</small>
                    </div>
                    <p class="mb-1">@e.Entry</p>
                    <small class="text-muted">@e.TimestampUTC.ToLocalTime().ToString("yyyy-MMM-dd HH:mm:ss")</small>
                </a>
            </Virtualize>
        </div>
    }
</div>
